<%= nested_form_for @claim, :url => enduser_upload_update_claim_path(@claim.id),:method => :put,:html => { :multipart => true } do |f| %>
 <%#= f.error_messages %>
      <% if @claim.errors.any?  %>
      <div id="error_explanation">
        <h2>You need to fill the following fields</h2>
        <ul>
          <% @claim.errors.full_messages.each do |msg| %>
            <li><p><%= msg %></p></li>
          <% end %>
        </ul>
      </div>
     <% end %>
 <table>
    <tbody>
     <tr>
    <td>
<!-- @#@@@@@@@@@@@@ -->
<div id='files'>
  <label><%= f.label :file,"Policy_Document :" %></label>
<%= f.fields_for :policy_photos do |attachment| %>
  <% if attachment.object.file? %>
    <%= link_to (attachment.object.file),attachment.object.file.url %>
    <%#= image_tag attachment.object.file_url %>
    <%#= attachment.file_field :file %>
  <% else %>
    <%= attachment.file_field :file %>
  <%#= f.hidden_field :image_cache %>
  <% end %>
  <%= attachment.link_to_remove "Remove this attachment" %>
<% end %>
</div>
 <%= f.link_to_add "Add Policy attachment", :policy_photos %>
<!-- &&&&&&&&&&&&&&&&&&&&& -->
</td>
   </tr>

   <tr>
<td>
    <div id='files2'>
      <%= f.label :file,"Damage Details :" %>
<%= f.fields_for :damage_photos do |damageattachment| %>
  <% if damageattachment.object.file? %>
    <%= link_to (damageattachment.object.file),damageattachment.object.file.url %>
    <%#= image_tag attachment.object.file_url %>
    <%#= attachment.file_field :file %>
  <% else %>
    <%= damageattachment.file_field :file %>
  <%#= f.hidden_field :image_cache %>
  <% end %>

<%#= damageattachment.file_field :file %><%= damageattachment.link_to_remove "Remove this attachment" %>

<% end %>
</div>
<%= f.link_to_add "Add Damage attachment", :damage_photos %>
</td>
</tr>

<%# end %>

   
   <tr>
     <td><label><%= f.label :Policy_Worth,:class=>'label' %></td></label>
     <td><%= f.text_field :policy_worth %></td>
   </tr>
   <tr>
     <td><label><%= f.label :Monthly_Premium,:class=>'label' %></td></label>
     <td><%= f.text_field :monthly_premium %></td>
   </tr>
   
    </tbody>
  </table>   

     <%= f.submit "Submit",:class => "create_b" %>
     <%= link_to "cancel", {:controller =>"dashboard",:action=>"index"},:class=>"create_b create_b2",:style =>"margin-right:525px" %>

<!--   <%# if @claim.policy_photos.exists? %>

    <%# @claim.policy_photos.each do |asset| %>
      <p>
      <%#= link_to (asset.file), asset.file.url %>
      </p>
      <p>
      <small><%#= number_to_human_size(asset.file.size) %></small>
      </p>
    <%# end %>
  <%# end %> -->
<% end %>

</div>





