
<div  class="tabel_bg">
  <table   border="0" cellpadding="10" cellspacing="0" id="box-table-b" class="add_emp inner-table">
    
    <% if flash[:error] %>
      <font color="red">
        <%= flash[:error] %><% flash.clear %>
      </font>
    
    <% end %>
    <h2>  user Details </h2>
    <tr>
      <td width="160">First Name</td>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <td width="160">Last Name</td>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <td width="160">Email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td width="160">Mobile</td>
      <td><%= @user.mobile %></td>
    </tr>
    <tr>
      <td width="160">Gender</td>
      <td><%= @user.gender %></td>
    </tr>
    <tr>
      <td width="160">Location</td>
      <td><%= @user.location %></td>
    </tr>
    <tr>
      <td width="160">Policy Number</td>
      <td><%= @user.policy_number %></td>
    </tr>
    
    <tr>
      <td>Damage Details</td>
      <td><%= @user.damage_details %></td>
    </tr>

  </table>
  <%= link_to "Back",request.referrer %>
</div>

