<h1> Your Claims</h1>
  <%= form_for "", :method => :put do |f| %>

<table class="inner-table">
    <tr>
      <th>Customer Name</th>
      <th>Policy Number</th>
      <th>Date Of Loss</th>
      <th>Location Of Loss</th>
      <th>Claim Description</th>
      <th>Damage Details</th>
      <th>Claim Status</th>
      <th>Change Status</th>
    </tr>
  <br />
  <% @claims.each do |claim| %>
  <tr>
    <td><%= claim.customer.user_name if claim.customer_id %></td>
    <td><%= claim.policy_number %></td>
    <td><%= claim.date_of_loss %></td>
    <td><%= claim.location_of_loss %></td>
    <td><%= claim.claim_description %></td>
    <td><%= claim.damage_details %></td>
    <td><%= claim.claim_status %></td>
    <td> <%= check_box_tag "claim_ids[]", claim.id %></td>
    <td></td><br />
  <% end %>
</table>
 <%= f.select :claim_status, [['PROCESSING','Processing'],['PENDING','Pending'],['COMPLETED','Completed']] %> <%= submit_tag "Change Claim Status" %>
<% end %>

<div id="change-status-div"></div>


